<html>

<head>
    <title>
        Contact Us
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="m-0">


    <div class="row h-100 w-100 justify-content-center align-items-center">
        <div class="card text-center" style="width: 20rem; height: 15rem">
            <div class="card-body">
            <h5 class="card-title">Contact Us</h5>
            <p class="card-text">9032 Montgomery Blvd NE, Albuquerque, New York</p>
            <p><small>(505) 299-8387</small></p>
            </div>
        </div>
    </div>
   

</body>
</html>